@import url("https://fonts.googleapis.com/css?family=Roboto:900&display=swap");

body {
    margin:0px;
}

.appjs {
    background-color: #e0e0e0;
}

ol{
    padding-inline-start: 0px;
}

div.factWindow {
    display: flex;
    flex-flow: column;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background: #ffffff;
}

div.factWindowText {
    margin: 0.5rem;
    font-size: 0.7rem;
    font-family: 'Roboto', 'sans-serif';
    color: #606060;
}

div.categoryWindow {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 0.5rem;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background: #ffffff;
    font-size: 0.7rem;
    font-family: 'Roboto', 'sans-serif';
    color: #606060;
}


input.ageTracker {
    text-align: center;
    bottom: 2rem;
    align-self: center;
    position: fixed;
}